@import '../../styles/variables';
@import '../../styles/mixins';

.recipe__modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: none;
  transition: all 300ms ease;
}

.recipe__modal--overlay.open {
  background: rgba(34, 34, 34, 0.35);
  pointer-events: initial;
}

.recipe__modal--content {
  background: $primary-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.10);
  max-width: 500px;
  width: 90%;
  padding: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 24px;
  opacity: 0;
  transform: translateX(60vw);
  transition: all 300ms ease;
}

.recipe__modal--content.open {
  opacity: 1;
  transform: translateX(0);
}

.btn--close {
  @include button-style;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: $primary-color;
  border: 1px solid $highlight-color;
  font-size: 1.5rem;
  color: $secondary-color;
  cursor: pointer;

  &:hover {
    background-color: initial;
    padding: 16px 64px;
  }
}
