@import '../../styles/variables';
@import '../../styles/mixins';

.recipe__form {
  @include absolute-center;
  background: $primary-color;
  border-radius: $border-radius;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  width: 70%;
  max-width: 800px;
  height: 60%;
  padding: 0 64px 64px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  .recipe__third {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  label {
    font-weight: 500;
    margin-bottom: 0.25rem;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #dbe1e8;
    border-radius: $border-radius;
    font-size: 1rem;
    background: #f7f9fa;
    margin-bottom: 1rem;
    font-family: inherit;
    transition: border-color 0.2s;

    &:focus {
      border-color: $highlight-color;
      outline: none;
    }
  }

  button[type="submit"],
  button[type="button"] {
    @include button-style;
    font-size: 20px;
    width: 38%;
    position: absolute;
    right: 64px;
    bottom: 64px;
    transform: translateY(50%);

    &:hover {
      width: 40%;
    }
  }

  button[type="button"] {
    transform-origin: bottom left;
    right: initial;
    left: 64px;
  }
}

@media (max-width: 1200px) {
  .recipe__form {
    width: 80%;

    button[type="submit"],
    button[type="button"] {
      min-width: 136px;
      width: 25%;
      white-space: nowrap;
      font-size: 16px;

      &:hover {
        padding: 16px 0;
        width: 30%;
      }
    }
  }
}

.recipe__form__actions--modal {
  display: none;
}

@media (max-width: 700px) {
  .recipe__form {
    padding: 32px;
    justify-content: space-between;

    button[type="submit"],
    button[type="button"] {
      display: none;
      right: 32px;
    }

    button[type="button"] {
      left: 32px;
    }

    textarea {
      margin: 0;
    }
  }
}
