@import '../../styles/variables';

.filter__bar {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
  justify-content: space-between;

  .filter__bar--left {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .filter__bar--checkbox {
    font-size: 18px;
    display: flex;
    gap: 16px;
    white-space: nowrap;

    input {
      height: 20px;
      width: 20px;
      accent-color: $highlight-color;
    }
  }

  input[type="text"],
  select {
    color: $text-color;
    padding: 8px 16px;
    border-radius: $border-radius;
    border: 1px solid $secondary-color;
    font-size: 16px;
    background: $primary-color;
    transition: border-color 300ms ease;

    &:focus {
      border-color: $highlight-color;
      outline: none;
    }
  }
}

@media (max-width: 800px) {
  .filter__bar {
    flex-wrap: wrap;
    gap: 32px;
  }
}
