$primary-color: #fff;
$text-color: #000;
$secondary-color: #2A2B2C;
$background-color: #F1F2F3;
$fade-weight: 255;
$highlight-color: #F25A38;
$font-stack: 'Raleway', Arial, sans-serif;
$border-radius: 8px;
